<div class="modal fade" id="modalDatosCobranza_personal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header bg-info">
				<h4 class="modal-title">Datos Cobranzas:</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<table id="tabla_cobranza_socio_personal" class="table table-sm table-bordered table-striped table-hover" width="100%">
					<thead class="table-dark">
						<tr>
							<th>Mes</th>
							<th>Año</th>
							<th>Importe</th>
							<th>Cobrado En El Mes De</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>