<div class="modal fade" id="modalDatoslicencia_personal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h4 class="modal-title">Registros de licencias:</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table id="tabla_licencia_personal" class="table table-sm table-bordered table-striped table-hover" width="100%">
						<thead class="table-dark">
							<tr>
								<th>#</th>
								<th>Fecha inicio</th>
								<th>Fecha fin</th>
								<th>Días Generados</th>
								<th>Días Tomados</th>
								<th>Días Restantes</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr class="bg-secondary text-white">
								<th></th>
								<th></th>
								<th></th>
								<th>Total:</th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>