<!-- Modal -->
<div class="modal fade" id="modalFaltasAcompanantes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Registros de faltas:</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table id="tabla_faltas_acompanantes" class="table table-sm table-bordered table-striped table-hover" width="100%">
						<thead class="table-dark">
							<tr>
								<th class="text-center col-auto">Cod. Trabajador</th>
								<th class="text-center col-auto">Tipo Falta</th>
								<th class="text-center col-auto">Código Actividad</th>
								<th class="text-center col-auto">Empresa</th>
								<th class="text-center col-auto">Fecha Inicio</th>
								<th class="text-center col-auto">Fecha Final</th>
							</tr>
						</thead>
						<tbody id="tbodyTHA"></tbody>
						</tbody>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>