<!-- Modal -->
<div class="modal fade" id="modal_enviar_terminos_condiciones" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Enviar Términos y Condiciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cedula_enviar_terminos_condiciones"
                                placeholder="Cédula">
                            <label for="cedula_enviar_terminos_condiciones">Cédula:</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="celular_enviar_terminos_condiciones"
                                placeholder="Celular (opcional)">
                            <label for="celular_enviar_terminos_condiciones">Celular (opcional):</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                    onclick="enviar_terminos_y_condiciones_socio(false)">Enviar</button>
            </div>
        </div>
    </div>
</div>