<!-- Modal -->
<div class="modal fade" id="modal_identificar_persona_en_sesion" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Identifiquese</h1>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control mb-4" id="cedula_identificar_persona"
                        placeholder="Ejemplo: 53249775" autofocus="true">
                    <label for="cedula_identificar_persona">Ingrese su cédula:</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="abrir_modal_identificarse(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>