<!-- Modal -->
<div class="modal fade" id="modalHistoriaComunicacionDeCedula" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">
					Detalles del registro: <span id="MHCDCtitulo"></span>
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-9">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCnombre" placeholder="Nombre" readonly>
							<label for="MHCDCnombre">Nombre:</label>
						</div>
					</div>
					<div class="col-3">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCcedula" placeholder="Cédula" readonly>
							<label for="MHCDCcedula">Cédula:</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-around">
					<div class="col-6">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCtelefono" placeholder="Teléfono" readonly>
							<label for="MHCDCtelefono">Teléfono:</label>
						</div>
					</div>
					<div class="col-2">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCsocio" placeholder="Socio" readonly>
							<label for="MHCDCsocio">Socio:</label>
						</div>
					</div>
					<div class="col-2">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCbaja" placeholder="Baja" readonly>
							<label for="MHCDCbaja">Baja:</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-4">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCsector" placeholder="Sector gestión"
								readonly>
							<label for="MHCDCsector">Sector gestión:</label>
						</div>
					</div>
					<div class="col-5">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="MHCDCfecha_registro" placeholder="Fecha"
								readonly>
							<label for="MHCDCfecha_registro">Fecha:</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-floating mb-3">
						<textarea class="form-control" placeholder="Observación" id="MHCDCobservaciones"
							style="height: 100px" readonly></textarea>
						<label for="MHCDCobservaciones">Observación:</label>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>





<!-- Modal -->
<div class="modal fade" id="modalHistoriaComunicacionDeCedula_funcionarios" data-bs-backdrop="static"
	data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">
					Detalles del registro nro: <span id="MHCDCtitulo_funcionario"></span>
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-9">
						<label for="MHCDCnombre">Nombre:</label>
						<input type="text" class="form-control" id="MHCDCnombre_funcionario" readonly>
					</div>
					<div class="col-3">
						<label for="MHCDCcedula">Cédula:</label>
						<input type="text" class="form-control" id="MHCDCcedula_funcionario" readonly>
					</div>
				</div>
				<div class="row justify-content-around">
					<div class="col-6">
						<label for="MHCDCtelefono">Teléfono:</label>
						<input type="text" class="form-control" id="MHCDCtelefono_funcionario" readonly>
					</div>
					<div class="col-2">
						<label for="MHCDCsocio">Socio:</label>
						<input type="text" class="form-control" id="MHCDCsocio" readonly>
					</div>
					<div class="col-2">
						<label for="MHCDCbaja">Baja:</label>
						<input type="text" class="form-control" id="MHCDCbaja" readonly>
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-4">
						<label for="MHCDCsector">Sector gestión:</label>
						<input type="text" class="form-control" id="MHCDCsector" readonly>
					</div>
					<div class="col-5">
						<label for="MHCDCfecha_registro">Fecha:</label>
						<input type="text" class="form-control" id="MHCDCfecha_registro" readonly>
					</div>
				</div>
				<div class="row">
					<label for="MHCDCobservaciones">Observación:</label>
					<textarea class="form-control" id="MHCDCobservaciones" readonly></textarea>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>