<!-- Modal -->
<div class="modal fade" id="modalHistorialDeBajas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1050;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Historial de bajas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table id="JtablaMHDB" class="table table-sm table-bordered table-striped table-hover" width="100%">
						<thead class="table-dark">
							<tr>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">ID</th>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">Cédula</th>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">Nombre</th>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">Motivo de baja</th>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">Estado de gestión</th>
								<th style="margin: 0 7px 0 1px; padding: 0;" class="text-center">Más info</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>





<!-- MODAL PARA VER MÁS INFORMACIÓN DE LA BAJA-->


<!-- Modal -->
<div class="modal fade" id="modalMasInfoHistorialDeBajas" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1060;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">
					Detalles de la baja de: <span id="MMIHDBtitulo"></span>
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<h3>Información del socio:</h3>
				<div class="row">
					<div class="col-3">
						<label for="MMIHDBnombre">Nombre completo:</label>
						<input type="text" class="form-control" id="MMIHDBnombre" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBcedula">Cédula:</label>
						<input type="text" class="form-control" id="MMIHDBcedula" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBfilialS">Filial:</label>
						<input type="text" class="form-control" id="MMIHDBfilialS" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBmotivoB">Motivo de baja:</label>
						<input type="text" class="form-control" id="MMIHDBmotivoB" readonly
							style="background-color: #eee">
					</div>
					<div class="row col" style="display: block;">
						<button type="button" class="btn btn-block btn-primary center-block" onclick="listar_servicios_del_socio()">
							Información sobre los servicios del usuario
						</button>
					</div>
				</div>
				<h3>Información de contacto:</h3>
				<div class="row">
					<div class="col-3">
						<label for="MMIHDBnombreC">Nombre:</label>
						<input type="text" class="form-control" id="MMIHDBnombreC" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBapellido">Apellido:</label>
						<input type="text" class="form-control" id="MMIHDBapellido" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBtel">Telefono:</label>
						<input type="text" class="form-control" id="MMIHDBtel" readonly style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBcel">Celular:</label>
						<input type="text" class="form-control" id="MMIHDBcel" readonly style="background-color: #eee">
					</div>
				</div>
				<h3>Información de gestión:</h3>
				<div class="row">
					<div class="col-3">
						<label for="MMIHDBnombreF">Nombre funcionario:</label>
						<input type="text" class="form-control" id="MMIHDBnombreF" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBfilialF">Filial funcionario:</label>
						<input type="text" class="form-control" id="MMIHDBfilialF" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBfechaIngreso">Fecha ingreso:</label>
						<input type="text" class="form-control" id="MMIHDBfechaIngreso" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBobs">Observaciones:</label>
						<input type="text" class="form-control" id="MMIHDBobs" readonly style="background-color: #eee">
					</div>
				</div>
				<h3>Actualización de la gestión:</h3>
				<div class="row">
					<div class="col-3">
						<label for="MMIHDBnombreFA">Nombre funcionario:</label>
						<input type="text" class="form-control" id="MMIHDBnombreFA" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBestado">Estado:</label>
						<input type="text" class="form-control" id="MMIHDBestado" readonly
							style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBmno">Motivo no otorgada:</label>
						<input type="text" class="form-control" id="MMIHDBmno" readonly style="background-color: #eee">
					</div>
					<div class="col-3">
						<label for="MMIHDBobservacion">Observaciones:</label>
						<textarea class="form-control" id="MMIHDBobservacion" readonly
							style="background-color: #eee"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>