<!-- Modal -->
<div class="modal fade" id="modalGestionCentralizado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    <span id="tituloGC"></span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <h3>Datos del socio:</h3>
                    <input type="hidden" id="idGC">
                    <div class="row">
                        <div class="col-5">
                            <label for="nombreGC">Nombre:</label>
                            <input type="text" id="nombreGC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cedulaGC">Cédula:</label>
                            <input type="text" id="cedulaGC" class="form-control" disabled>
                        </div>
                        <div class="col-3">
                            <label for="telefonoGC">Teléfono:</label>
                            <input type="text" id="telefonoGC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="nroTalonGC">Nro de talón:</label>
                            <input type="text" id="nroTalonGC" class="form-control" disabled>
                        </div>
                    </div>
                    <hr>
                    <h3>Datos de la tarjeta:</h3>
                    <div class="row">
                        <div class="col-3">
                            <label for="nroTarjetaGC">Nro tarjeta:</label>
                            <input type="text" id="nroTarjetaGC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="CITitularGC">CI titular:</label>
                            <input type="text" id="CITitularGC" class="form-control" disabled>
                        </div>
                        <div class="col-7">
                            <label for="mDRGC">Motivo Rechazo:</label>
                            <input type="text" id="mDRGC" class="form-control" disabled>
                        </div>
                    </div>
                    <hr>
                    <h3>Cuotas anteriores:</h3>
                    <div class="row">
                        <div class="col-2">
                            <label for="cuota6GC" id="mes6GC"></label>
                            <input type="text" id="cuota6GC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cuota5GC" id="mes5GC"></label>
                            <input type="text" id="cuota5GC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cuota4GC" id="mes4GC"></label>
                            <input type="text" id="cuota4GC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cuota3GC" id="mes3GC"></label>
                            <input type="text" id="cuota3GC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cuota2GC" id="mes2GC"></label>
                            <input type="text" id="cuota2GC" class="form-control" disabled>
                        </div>
                        <div class="col-2">
                            <label for="cuota1GC" id="mes1GC"></label>
                            <input type="text" id="cuota1GC" class="form-control" disabled>
                        </div>
                    </div>
                    <hr>
                    <h3>Gestión:</h3>
                    <div class="row">
                        <div class="col-2">
                            <label for="estadoGC">Estado:</label>
                            <select id="estadoGC" class="form-select">
                                <option value="disabled" selected disabled>Obligatorio</option>
                                <option value="1">Inubicable</option>
                                <option value="2">Fallecido</option>
                                <option value="3">Auditoria</option>
                                <option value="4">Promesa Pago</option>
                                <option value="5">Fecha Contacto</option>
                                <option value="6">Baja Pendiente</option>
                                <option value="7">Baja</option>
                                <option value="8">Pago</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="fechaOpcionalGC" id="fechaOpcionalGCLabel">Campo innecesario:</label>
                            <input type="text" id="fechaOpcionalGC" class="form-control">
                        </div>
                        <div class="col-8">
                            <label for="observacionGC">Observación:</label>
                            <textarea name="" id="observacionGC" class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guardarGC">Guardar</button>
            </div>
        </div>
    </div>
</div>