<!-- Modal -->
<div class="modal fade" id="modalVerImagenesRegistro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Archivos del registro:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="pausar_audios_al_cerrar_modal()"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="mostrar_imagenes_relamos"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="pausar_audios_al_cerrar_modal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>