<!-- Etiquetas Del Socio -->
<div class="container">
    <div class="d-flex justify-content-center">
        <div id="div_agregarEtiquetaSocio" style="display: none;">
            <button class="btn btn-secondary me-5" onclick="agregar_etiqueta_socio(true)">Agregar etiqueta a
                socio</button>
        </div>
        <button type="button" class="btn btn-secondary position-relative me-5" onclick="ver_etiquetas_socio()">
            Ver etiquetas de socio
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                id="cantidad_etiquetas_socio">
            </span>
        </button>
    </div>
</div>
<!-- End Etiquetas Del Socio -->