<div class="container patologias_socio">

    <hr class="style5 container">

    <div class="alert alert-secondary border-secondary" role="alert">
        <div class="table-responsive">
            <h3 class="text-center mb-3"><u>Patologías del socio:</u></h3>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success mb-3" id="btn_agregar_patologia_socio" onclick="agregar_patologia_socio(true)" style="display: none;">➕</button>
            </div>
            <table id="tabla_patologias_socio" class="table table-sm table-bordered table-striped table-hover"
                width="100%">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Patología</th>
                        <th>Observación</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>