<!-- Modal -->
<div class="modal fade" id="modalHorasAcompanantes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Registros de horas: <span class="text-danger" style="font-weight: bolder;"
                        id="total_horas_acompañante"></span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="tabla_horas_acompanantes" class="table table-sm table-bordered table-striped table-hover" width="100%">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center col-auto">#</th>
                                <th class="text-center col-auto">Nro. Servicio</th>
                                <th class="text-center col-auto">Entrada</th>
                                <th class="text-center col-auto">Salida</th>
                                <th class="text-center col-auto">Fecha</th>
                                <th class="text-center col-auto">Cantidad de horas</th>
                                <th class="text-center col-auto">Descanso Trabajado</th>
                                <th class="text-center col-auto">Aislamiento</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyTHA"></tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>