<!-- Modal -->
<div class="modal fade" id="modalTodasFaltasAcompanantes" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Todos los registros de faltas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table id="tabla_todas_faltas_acompanantes_personal"
						class="table table-sm table-bordered table-striped table-hover" width="100%">
						<thead class="table-dark">
							<tr>
								<th class="text-center">Cod. Trabajador</th>
								<th class="text-center">Cédula</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Tipo Falta</th>
								<th class="text-center">Código Actividad</th>
								<th class="text-center">Empresa</th>
								<th class="text-center">Fecha Inicio</th>
								<th class="text-center">Fecha Final</th>
							</tr>
						</thead>
						</tbody>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>