<!-- Modal -->
<div class="modal fade" id="modal_validarAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Válidar Administrador</h1>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3">
                    <input type="password" class="form-control mb-4" id="txt_password_admin"
                        placeholder="Ejemplo: Pepe2134" autofocus="true">
                    <label for="txt_password_admin">Ingrese su contraseña:</label>
                </div>

            </div>
            <div class="modal-footer">
                <div id="div_btn_mostrar_password"></div>
                <button type="button" class="btn btn-primary" onclick="validar_adminstrador(false)">Verificar</button>
            </div>
        </div>
    </div>
</div>