<!-- Modal -->
<div class="modal fade" id="modal_mostrarMensajesCRMessage" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensajes CRMessage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="tabla_mostrar_mensajes_crmessage"
                        class="table table-sm table-bordered table-striped table-hover" width="100%">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Área</th>
                                <th>Usuario</th>
                                <th>Mensaje</th>
                                <th>Cédula Socio</th>
                                <th>Fecha_registro</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>