@charset "utf-8";
hr.style5 {
	background-color: #ffffff;
	border-top: 2px dashed #8c8b8b;
	max-width: 95% !important;
}/* CSS Document */

hr.style6 {
	background-color: #ffffff;
	border-top: 3px dashed #6200ff;
	max-width: 95% !important;
}/* CSS Document */

.container {
	min-width: 95%;
}