<!-- Modal -->
<div class="modal fade" id="modal_editarAuditorias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 2001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Auditoría</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txt_id_editar_auditoria_socio" placeholder="ID"
                        disabled>
                    <label for="txt_id_editar_auditoria_socio">ID</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Descripcion" id="txt_descripcion_editar_auditoria_socio"
                        style="height: 300px"></textarea>
                    <label for="txt_descripcion_editar_auditoria_socio">Descripción</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="txt_fecha_auditoria_editar_auditoria_socio"
                        placeholder="Fecha Auditoria">
                    <label for="txt_fecha_auditoria_editar_auditoria_socio">Fecha Auditoría</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="editar_auditoria_socio(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>