<!-- Modal -->
<div class="modal fade" id="modal_editarComentarioAuditoria" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 2001;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Comentario Auditoría</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txt_id_editar_comentario_auditoria_socio"
                        placeholder="ID" disabled>
                    <label for="txt_id_editar_comentario_auditoria_socio">ID</label>
                </div>

                <textarea class="mb-3" id="txt_mensaje_editar_comentario_auditoria"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                    onclick="editar_comentario_auditoria(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>