<!-- Modal -->
<div class="modal fade" id="modal_registrarComentarioAuditoria" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 2001;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar comentario:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txt_id_registrar_comentario_auditoria" placeholder="ID"
                        disabled>
                    <label for="txt_id_registrar_comentario_auditoria">ID:</label>
                </div>
                <div class="mb-3">
                    <textarea id="txt_mensaje_registrar_comentario_auditoria"></textarea>
                </div>
                <div class="mb-3">
                    <label for="file_archivos_auditoria_socio" class="form-label">Seleccione archivos
                        (opcional):</label>
                    <input class="form-control" type="file" id="file_archivos_auditoria_socio" accept=".mp3, .pdf"
                        multiple>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select agregarFiliales" id="txt_avisar_carga_comentario_auditoria"
                        aria-label="Seleccione un área a avisar si se requiere">
                    </select>
                    <label for="txt_avisar_carga_comentario_auditoria">Seleccione un área a avisar (opcional):</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-success" onclick="registrar_comentario_auditoria_socio(false)">Registrar</button>
            </div>
        </div>
    </div>
</div>