<!-- Modal -->
<div class="modal fade" id="modalSolicitarBaja" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">
					Solicitar baja de: <span id="cedulaTitulo"></span>
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="formModalBajas">

					<!-- INPUT AUTOGESTIONABLES -->

					<input type="hidden" name="idrelacion" id="idrelacion2" class="idrelacion">
					<input type="hidden" name="filial_solicitud" id="filial_solicitud"
						value="<?php echo $_SESSION['filial'] ?>">
					<input type="hidden" name="fecha_solicitud" id="fecha_solicitud" value="<?php echo date('Y-m-d')?>">
					<input type="hidden" name="filial_socio" id="filial_socio">

					<!-- SE AÑADEN LOS SERVICIOS QUE TENGA CONTRATADO EL USUARIO DE FORMA AUTOMÁTICA POR JS -->

					<table style="display: none">
						<tbody id="MSBhiddenItems">

						</tbody>
					</table>

					<!-- INPUT AUTOGESTIONABLES -->

					<div class="col-12">
						<h1><b>Formulario de bajas:</b></h1>
						<br>
						<h3 class="mb-3"><b>Información usuario:</b></h3>
						<div class="col-12" style="margin-top: 5px;">
							<div class="row">
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="nombre_socio"><b>Nombre socio: </b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" class="form-control mb-2" name="nombre_socio" id="nombre_socio"
										readonly>
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="cedula_socio"><b>C.I. del socio:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" pattern="\d*" maxlength="8"
										class="form-control mb-2 solo_numeros" name="cedula_socio" id="cedula_socio"
										readonly>
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="motivo_baja"><b>Motivo baja:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<select class="form-select mb-2" name="motivo_baja" id="motivo_baja">
										<option value="" selected disabled>Seleccione un motivo</option>
										<option value="Económicos">Económicos</option>
										<option value="Fallecimiento">Fallecimiento</option>
										<option value="Desconformidad con el servicio">Desconformidad con el servicio
										</option>
										<option value="Viaje">Viaje</option>
										<option value="Competencia">Competencia</option>
										<option value="Reclamo defensa al consumidor">Reclamo defensa al consumidor
										</option>
										<option value="Excepciones">Excepciones</option>
										<option value="Personales">Personales</option>
										<option value="Personales">Personales</option>
										<option value="Rescisión unilateral de Vida">Rescisión unilateral de Vida
										</option>
										<option value="Solicitud interna">Solicitud interna</option>
									</select>
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="radio_socio"><b>Radio:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px; margin-bottom: 5px;">
									<input type="text" pattern="\d*" maxlength="8"
										class="form-control mb-2 solo_numeros" name="radio_socio" id="radio_socio"
										readonly>
								</div>
								<div class="col-4"></div>
								<div class="col-5">
									<button type="button" class="btn btn-block btn-primary" onclick="listar_servicios_del_socio()">
										Servicios contratados
									</button>
								</div>
							</div>
						</div>
						<br>
						<h3 class="mb-3"><b>Información contacto:</b></h3>
						<div class="col-12" style="margin-top: 5px;">
							<div class="row" style="margin-top: 5px;">
								<div class="col-3 text-center">
									<label for="nombre_contacto"><b>Nombre contacto:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" class="form-control mb-2" name="nombre_contacto"
										id="nombre_contacto">
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="apellido_contacto"><b>Apellido contacto:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" class="form-control mb-2" name="apellido_contacto"
										id="apellido_contacto">
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="numero_contacto"><b>Teléfono contacto:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" pattern="\d*" maxlength="8"
										class="form-control mb-2 solo_numeros" name="telefono_contacto"
										id="telefono_contacto">
								</div>
								<div class="col-3 text-center" style="margin-top: 5px;">
									<label for="numero_contacto"><b>Celular contacto:</b></label>
								</div>
								<div class="col-3" style="margin-top: 5px;">
									<input type="text" pattern="\d*" maxlength="9"
										class="form-control mb-2 solo_numeros" name="celular_contacto"
										id="celular_contacto">
								</div>
							</div>
						</div>
						<br>
						<h3><b>Información de gestión:</b></h3>
						<div class="row">
							<div class="col-6">
								<label for="nombre_funcionario" class="col-form-label"><b>Nombre de funcionario:
									</b></label>
								<input type="text" class="form-control" name="nombre_funcionario"
									id="nombre_funcionario">
							</div>
							<div class="col-6">
								<label for="observaciones" class="col-form-label"><b>Observaciones:</b></label>
								<textarea class="form-control" rows="1" name="observaciones"
									id="observaciones"></textarea>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-danger" id="botonMDDB">Solicitar baja</button>
			</div>
		</div>
	</div>
</div>