<!-- Modal -->
<div class="modal fade" id="modal_registrosEquifax" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Registros Equifax</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="tabla_registros_equifax" class="table table-sm table-bordered table-striped table-hover"
                        width="100%">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Cédula</th>
                                <th>Bajas</th>
                                <th>Convenio</th>
                                <th>Enero
                                    <span id="span_anio_cuota_1"></span>
                                </th>
                                <th>Febrero
                                    <span id="span_anio_cuota_2"></span>
                                </th>
                                <th>Marzo
                                    <span id="span_anio_cuota_3"></span>
                                </th>
                                <th>Abril
                                    <span id="span_anio_cuota_4"></span>
                                </th>
                                <th>Mayo
                                    <span id="span_anio_cuota_5"></span>
                                </th>
                                <th>Junio
                                    <span id="span_anio_cuota_6"></span>
                                </th>
                                <th>Julio
                                    <span id="span_anio_cuota_7"></span>
                                </th>
                                <th>Agosto
                                    <span id="span_anio_cuota_8"></span>
                                </th>
                                <th>Septiembre
                                    <span id="span_anio_cuota_9"></span>
                                </th>
                                <th>Octubre
                                    <span id="span_anio_cuota_10"></span>
                                </th>
                                <th>Noviembre
                                    <span id="span_anio_cuota_11"></span>
                                </th>
                                <th>Diciembre
                                    <span id="span_anio_cuota_12"></span>
                                </th>
                                <th>Total General</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>