<!-- Modal -->
<div class="modal fade" id="modal_asignarAlertasGenerales" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Asignar Alerta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="id_registro_asignar_alerta_general">

                <ul class="list-group mb-5">
                    <li class="list-group-item list-group-item-info"><strong>Datos del registro:</strong></li>
                    <li class="list-group-item border-info">
                        <strong>Descripción:</strong>
                        <span id="descripcion_asignar_alerta_general"></span>
                    </li>
                    <li class="list-group-item border-info">
                        <strong>Área alerto:</strong>
                        <span id="area_alerto_asignar_alerta_general"></span>
                    </li>
                    <li class="list-group-item border-info">
                        <strong>Usuario alerto:</strong>
                        <span id="usuario_alerto_asignar_alerta_general"></span>
                    </li>
                    <li class="list-group-item border-info">
                        <strong>Área alertada:</strong>
                        <span id="area_alertada_asignar_alerta_general"></span>
                    </li>
                    <li class="list-group-item border-info">
                        <strong>Usuario Alertado:</strong>
                        <span id="usuario_alertado_asignar_alerta_general"></span>
                    </li>
                    <li class="list-group-item border-info">
                        <strong>Usuario Asignador:</strong>
                        <span id="usuario_asignador_asignar_alerta_general"></span>
                    </li>
                </ul>

                <select class="form-select" id="select_asignar_alerta_general"></select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="reasignar_alerta_general(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>