<!-- Modal -->
<div class="modal fade" id="modalDatosAlertasNivel1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Alertas derivadas desde otras áreas:</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover" width="100%">
						<thead class="table-dark">
							<tr>
								<th class="text-center">Sector:</th>
								<th class="text-center">Cedula:</th>
								<th class="text-center">Nombre: cliente</th>
								<th class="text-center">Telefono:</th>
								<th>Observación:</th>
								<th class="text-center">Concretado:</th>
							</tr>
						</thead>
						<tbody id="tbodyMDA">
						</tbody>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>